@{
    ViewData["Title"] = "Home";
}
<!--Specifies the iqueryable model we will be using on this view-->
@model LibraryListViewModel
<div class="text-center">
    <h1 class="display-4">Check out our library!</h1>
</div>
<br />
<table class="table table-striped border border-dark rounded table-hover">
    <tr class="thead-dark">
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>ISBN</th>
        <th>Classification</th>
        <th>Category</th>
        <th>Pages</th>
        <th>Price</th>
    </tr>
<!--Loops through each item in the model and displays them on the page using a table-->
        @foreach (var x in Model.Libraries)
        {
<tr>
    <td>@x.BookId</td>
    <td>@x.Title</td>
    <td>@x.AuthorFirstName @x.AuthorLastName</td>
    <td>@x.Publisher</td>
    <td>@x.ISBN</td>
    <td>@x.Class</td>
    <td>@x.Category</td>
    <td>@x.PageCount</td>
    <td>$@x.Price</td>
</tr>
        }
</table>
<div class="pagination" page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="page-link" page-class-selected="bg-dark text-light" page-class-normal="text-dark"></div>
